* {
    box-sizing: border-box;
  }

  #main-container{
      display: flex;
      flex-direction: column;
  }

  header{
      background-color: #022140;
      color: white;
      text-align: center;
      height: 40px;
  }

  #city-search{
      background-color: #265077;
      color: white;
      margin: 5px;
      padding: 5px;
      padding-top: 0;
      height: 125px;
      
  }

  #sub-container{
      background-color:  #265077;
      color: white;
      margin: 5px;
      padding: 5px;
      height: 100%;
      width: 100%;

  }

  #current{
      background-color: #1E4258;
      border: solid;
      border-width: 1px;
      height:auto;
      padding: 10px;

  }

  #forecast{
      display: flex;
  }

  .days{
      width: 85px;
      border: solid;
      border-width: 1px;
      background-color: #1E4258;
      margin: 10px;
  }

  .colorSpan{
      color: black;
  }

  





 

